.bg-set{
    background-color:darkblue;
    padding: 30px;
}
.comp-name{
    color: white;
    font-size: 150%;
    font-weight: 600;
}
.link-style{
    font-size: larger;
}
@media only screen and (max-width:576px){
    .comp-name{
        color: white;
        font-size: 100%;
        font-weight: 600;
    }
}