.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.services-title{
    text-align: center;
    color:darkred;
}
.manage-style{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    border: 1px solid beige;
}

/* Make services responsive */
@media only screen and (max-width:576px){
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}