.album{
    width: 50%;
}
.album h2{
 color: darkred;
}
.app-image{
    width: 10%;
    height: 10%;
}
.mob-app-img{
    width: 25%;
    height: 30%;
    margin-right: 10px;
    margin-top: 40px;
}
@media only screen and (max-width:576px){
    .album{
        width: 80%;
    }
}