.add-item-btn-style{
    border: none;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
}
.add-form-h2style{
    margin-top: 6%;
    margin-bottom: 2%;
    color: rgb(17, 124, 231);
}

@media only screen and (max-width:576px){
    .add-form-style{
        margin-top: 20%;
        margin-bottom: 40%;
    }
    .add-form-h2style{
        margin-top: 40%;
    }
}